{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Olá, {{ cinema.pessoa.nome }}</h1>

<table class="table table-bordered table-striped table-hover table-condensed">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ cinema.id }}</td>
    </tr>
    <tr>
      <th>Nome</th>
      <td>{{ cinema.pessoa.nome }}</td>
    </tr>
    <tr>
      <th>Nome Fantasia</th>
      <td>{{ cinema.nomeFantasia }}</td>
    </tr>
    <tr>
      <th>Documento</th>
      <td>{{ cinema.pessoa.documento }}</td>
    </tr>
    <tr>
      <th>Usuário</th>
      <td>{{ cinema.pessoa.usuario.username }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ cinema.pessoa.usuario.email }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}