{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Consultar Cinemas</h1>

<table class="table table-condensed table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Nome Fantasia</th>
      <th>Documento</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  {% for entity in entities %}
      <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.pessoa.nome }}</td>
        <td>{{ entity.nomeFantasia }}</td>
        <td>{{ entity.pessoa.documento }}</td>
        <td>
          <div class="btn-toolbar">
            <div class="btn-group">
              <a class="btn" href="{{ path('cinema_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>
              <a class="btn" href="{{ path('cinema_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a>
            </div>
          </div>        
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>

  <div class="form-actions">
    <a href="{{ path('cinema_new') }}" class="btn btn-primary">Incluir</a>
  </div>
{% endblock %}
