{% extends 'UnivaliMyCineManiaBundle::base.html.twig' %}

{% block container %}
<h1>Inscrição de Cinema</h1>

<form action="{{ path('registrar_cinema_create') }}" method="post" {{ form_enctype(form) }}>
  {{ form_row(form.pessoa.nome, { 'label' : 'Razão Social' }) }}
  {{ form_row(form.nomeFantasia) }}
  {{ form_row(form.pessoa.documento) }}
  {{ form_row(form.pessoa.usuario.username) }}
  {{ form_row(form.pessoa.usuario.password) }}
  {{ form_row(form.pessoa.usuario.email) }}
  {{ form_rest(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Confirmar</button>
  </div>
</form>
{% endblock %}