{% extends 'UnivaliMyCineManiaBundle::base.html.twig' %}

{% block container %}
<h1>Inscrição de Cinéfilo</h1>

<form action="{{ path('registrar_cinefilo_create') }}" method="post" {{ form_enctype(form) }}>
  {% if form.get('errors') is not empty %}
  <div class='alert alert-error'>
    {{ form_errors(form) }}
  </div>
  {% endif %}
  {{ form_row(form.pessoa.nome) }}
  {{ form_row(form.cpf) }}
  {{ form_row(form.pessoa.documento) }}
  {{ form_row(form.pessoa.usuario.username) }}
  {{ form_row(form.pessoa.usuario.password ) }}
  {{ form_row(form.pessoa.usuario.email ) }}
  {{ form_rest(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Confirmar</button>
  </div>
</form>
{% endblock %}