{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Consultar Vouchers</h1>

<table class="table table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Cinéfilo</th>
      <th>Cinema</th>
      <th>Oferta</th>
      <th>Dt. Emissão</th>
      <th>Sit.</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
{% for entity in entities %}
    <tr>
      <td>{{ entity.id }}</td>
      <td>{{ entity.cinefilo.pessoa.nome }}</td>
      <td>{{ entity.oferta.cinema.nomeFantasia }}</td>
      <td>{{ entity.oferta.titulo }}</td>
      <td>{{ entity.dataEmissao|date('d/m/Y H:i:s') }}</td>
      <td>{{ entity.situacao }}</td>
      <td>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn" href="{{ path('voucher_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a>
          </div>
        </div>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}