{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Visualizar Voucher</h1>

<table class="table table-bordered table-striped table-hover table-condensed">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ entity.id }}</td>
    </tr>
    <tr>
      <th>Cinéfilo</th>
      <td>{{ entity.cinefilo.pessoa.nome }}</td>
    </tr>
    <tr>
      <th>Cinema</th>
      <td>{{ entity.oferta.cinema.nomeFantasia }}</td>
    </tr>
    <tr>
      <th>Oferta</th>
      <td>{{ entity.oferta.titulo }}</td>
    </tr>
    <tr>
      <th>Dt. Emissão</th>
      <td>{{ entity.dataEmissao|date('d/m/Y H:i:s') }}</td>
    </tr>
    <tr>
      <th>Sit.</th>
      <td>{{ entity.situacao }}</td>
    </tr>
  </tbody>
</table>

<div class="form-actions">
  <a href="{{ path('voucher') }}" class="btn">Voltar</a>
</div>
{% endblock %}
