{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Validar Voucher</h1>

<form action="{{ path('voucher_validar_enviar') }}" method="post" {{ form_enctype(form) }}>
  {% if form.get('errors') is not empty %}
  <div class='alert alert-error'>
    {{ form_errors(form) }}
  </div>
  {% endif %}
  {{ form_rest(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Confirmar</button>
  </div>
</form>
{% endblock %}