{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}



<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	<h2 class="form-signin-heading">Entre com os seus dados</h2>

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" class="input-block-level" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}"/>

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" class="input-block-level" required="required" placeholder="{{ 'security.login.password'|trans }}" />

    <label class="checkbox" for="remember_me">
    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    	{{ 'security.login.remember_me'|trans }}
    </label>

    <input class="btn btn-large btn-primary"  type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
{% endblock fos_user_content %}
