{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Alterar Cinéfilo</h1>

<form action="{{ path('cinefilo_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
  {% if edit_form.get('errors') is not empty %}
  <div class='alert alert-error'>
    {{ form_errors(edit_form) }}
  </div>
  {% endif %}
  <input type="hidden" name="_method" value="PUT" />
  {{ form_row(edit_form.pessoa.nome) }}
  {{ form_row(edit_form.cpf) }}
  {{ form_row(edit_form.pessoa.documento) }}
  {{ form_row(edit_form.pessoa.usuario.username) }}
  {{ form_row(edit_form.pessoa.usuario.password) }}
  {{ form_row(edit_form.pessoa.usuario.email) }}
  {{ form_rest(edit_form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Confirmar</button>
    <a href="{{ path('cinefilo') }}" class="btn">Voltar</a>
  </div>
</form>
<form action="{{ path('cinefilo_delete', { 'id': entity.id }) }}" method="post">
  <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
  <button type="submit" class="btn btn-danger">Excluir</button>
</form>
{% endblock %}
