<table width="666" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td valign="top" class="cp"><div align="CENTER">Instruções 
de Impressão</div></td></tr><tr><td valign="top" class="cp"><div align="left">
<p>
</p><li>Imprima em impressora jato de tinta (ink jet) ou laser em qualidade normal ou alta (Não use modo econômico).<br>
</li><li>Utilize folha A4 (210 x 297 mm) ou Carta (216 x 279 mm) e margens mínimas à esquerda e à direita do formulário.<br>
</li><li>Corte na linha indicada. Não rasure, risque, fure ou dobre a região onde se encontra o código de barras.<br>
</li><li>Caso não apareça o código de barras no final, clique em F5 para atualizar esta tela.
</li><li>Caso tenha problemas ao imprimir, copie a seqüencia numérica abaixo e pague no caixa eletrônico ou no internet banking:<br><br>
<span class="ld2">
&nbsp;&nbsp;&nbsp;&nbsp;Linha Digitável: &nbsp;10498.01952 25086.156582 70000.004146 1 57410000295295<br>
&nbsp;&nbsp;&nbsp;&nbsp;Valor: &nbsp;&nbsp;R$ 2952,95<br>
</span>
</li></div></td></tr></tbody></table><br><table cellspacing="0" cellpadding="0" width="666" border="0"><tbody><tr><td class="ct" width="666"><img height="1" src="http://boletophp.com.br/boletophp/imagens/6.png" width="665" border="0"></td></tr><tr><td class="ct" width="666"><div align="right"><b class="cp">Recibo 
do Sacado</b></div></td></tr></tbody></table><table width="666" cellspacing="5" cellpadding="0" border="0"><tbody><tr><td width="41"></td></tr></tbody></table>
<table width="666" cellspacing="5" cellpadding="0" border="0" align="Default">
  <tbody><tr>
    <td width="41"><img src="http://boletophp.com.br/boletophp/imagens/logo_empresa.png"></td>
    <td class="ti" width="455">BoletoPhp - Código Aberto de Sistema de Boletos <br><br>
	Coloque o endereço da sua empresa aqui<br>
	Cidade / Estado<br>
    </td>
    <td align="RIGHT" width="150" class="ti">&nbsp;</td>
  </tr>
</tbody></table>
<br><table cellspacing="0" cellpadding="0" width="666" border="0"><tbody><tr><td class="cp" width="150"> 
  <span class="campo"><img src="http://boletophp.com.br/boletophp/imagens/logocaixa.jpg" width="150" height="40" border="0"></span></td>
<td width="3" valign="bottom"><img height="22" src="http://boletophp.com.br/boletophp/imagens/3.png" width="2" border="0"></td><td class="cpt" width="58" valign="bottom"><div align="center"><font class="bc">104-0</font></div></td><td width="3" valign="bottom"><img height="22" src="http://boletophp.com.br/boletophp/imagens/3.png" width="2" border="0"></td><td class="ld" align="right" width="453" valign="bottom"><span class="ld"> 
<span class="campotitulo">
10498.01952 25086.156582 70000.004146 1 57410000295295</span></span></td>
</tr></tbody><tbody><tr><td colspan="5"><img height="2" src="http://boletophp.com.br/boletophp/imagens/2.png" width="666" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="268" height="13">Cedente</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="156" height="13">Agência/Código
do Cedente</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="34" height="13">Espécie</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="53" height="13">Quantidade</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="120" height="13">Nosso 
número</td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="268" height="12">
  <span class="campo">
{{ pessoa.nome }}</span></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="156" height="12">
  <span class="campo">
  1565 / 87000000414-3  </span></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="34" height="12"><span class="campo">
  R$</span> 
 </td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="53" height="12"><span class="campo">
  </span> 
 </td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="120" height="12"> 
  <span class="campo">
  8019525086-7  </span></td>
</tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="268" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="268" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="156" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="156" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="34" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="34" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="53" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="53" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="120" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="120" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" colspan="3" height="13">Número
do documento</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="132" height="13">CPF/CNPJ</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="134" height="13">Vencimento</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">Valor 
documento</td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" colspan="3" height="12"> 
  <span class="campo">
  27.030195.10  </span></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="132" height="12"> 
  <span class="campo">
{{ cinefilo.cpf }}
    </span></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="134" height="12"> 
  <span class="campo">
  26/06/2013  </span></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12"> 
  <span class="campo">
  2952,95  </span></td>
</tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="113" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="113" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="72" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="72" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="132" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="132" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="134" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="134" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="113" height="13">(-) 
Desconto / Abatimentos</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="112" height="13">(-) 
Outras deduções</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="113" height="13">(+) 
Mora / Multa</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="113" height="13">(+) 
Outros acréscimos</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">(=) 
Valor cobrado</td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="113" height="12"></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="112" height="12"></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="113" height="12"></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="113" height="12"></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12"></td></tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="113" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="113" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="112" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="112" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="113" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="113" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="113" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="113" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="659" height="13">Sacado</td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="659" height="12"> 
  <span class="campo">
  Nome do seu Cliente  </span></td>
</tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="659" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="659" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" width="7" height="12"></td><td class="ct" width="564">Demonstrativo</td><td class="ct" width="7" height="12"></td><td class="ct" width="88">Autenticação 
mecânica</td></tr><tr><td width="7"></td><td class="cp" width="564">
<span class="campo">
  Pagamento de Compra na Loja Nonononono<br>
  Mensalidade referente a nonon nonooon nononon<br>Taxa bancária - R$ 2,95<br>
  BoletoPhp - http://www.boletophp.com.br<br>
  </span>
  </td><td width="7"></td><td width="88"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" width="666" border="0"><tbody><tr><td width="7"></td><td width="500" class="cp"> 
<br><br><br> 
</td><td width="159"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" width="666" border="0"><tbody><tr><td class="ct" width="666"></td></tr></tbody><tbody><tr><td class="ct" width="666"> 
<div align="right">Corte na linha pontilhada</div></td></tr><tr><td class="ct" width="666"><img height="1" src="http://boletophp.com.br/boletophp/imagens/6.png" width="665" border="0"></td></tr></tbody></table><br><table cellspacing="0" cellpadding="0" width="666" border="0"><tbody><tr><td class="cp" width="150"> 
  <span class="campo"><img src="http://boletophp.com.br/boletophp/imagens/logocaixa.jpg" width="150" height="40" border="0"></span></td>
<td width="3" valign="bottom"><img height="22" src="http://boletophp.com.br/boletophp/imagens/3.png" width="2" border="0"></td><td class="cpt" width="58" valign="bottom"><div align="center"><font class="bc">104-0</font></div></td><td width="3" valign="bottom"><img height="22" src="http://boletophp.com.br/boletophp/imagens/3.png" width="2" border="0"></td><td class="ld" align="right" width="453" valign="bottom"><span class="ld"> 
<span class="campotitulo">
10498.01952 25086.156582 70000.004146 1 57410000295295</span></span></td>
</tr></tbody><tbody><tr><td colspan="5"><img height="2" src="http://boletophp.com.br/boletophp/imagens/2.png" width="666" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="472" height="13">Local 
de pagamento</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">Vencimento</td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="472" height="12">Pagável 
em qualquer Banco até o vencimento</td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12"> 
  <span class="campo">
  26/06/2013  </span></td>
</tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="472" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="472" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="472" height="13">Cedente</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">Agência/Código 
cedente</td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="472" height="12"> 
  <span class="campo">
  Coloque a Razão Social da sua empresa aqui  </span></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12"> 
  <span class="campo">
  1565 / 87000000414-3  </span></td>
</tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="472" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="472" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"> 
<img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="113" height="13">Data 
do documento</td><td class="ct" valign="top" width="7" height="13"> <img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="133" height="13">N<u>o</u>
documento</td><td class="ct" valign="top" width="7" height="13"> <img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="62" height="13">Espécie
doc.</td><td class="ct" valign="top" width="7" height="13"> <img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="34" height="13">Aceite</td><td class="ct" valign="top" width="7" height="13"> 
<img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="102" height="13">Data
processamento</td><td class="ct" valign="top" width="7" height="13"> <img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">Nosso
número</td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="113" height="12"><div align="left"> 
  <span class="campo">
  21/06/2013  </span></div></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="133" height="12">
    <span class="campo">
    27.030195.10    </span></td>
  <td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="62" height="12"><div align="left"><span class="campo">
      </span> 
 </div></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="34" height="12"><div align="left"><span class="campo">
  </span> 
 </div></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="102" height="12"><div align="left">
   <span class="campo">
   21/06/2013   </span></div></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12">
     <span class="campo">
     8019525086-7     </span></td>
</tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="113" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="113" border="0"></td><td valign="top" width="7" height="1"> 
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="133" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="133" border="0"></td><td valign="top" width="7" height="1">
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="62" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="62" border="0"></td><td valign="top" width="7" height="1">
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="34" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="34" border="0"></td><td valign="top" width="7" height="1"> 
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="102" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="102" border="0"></td><td valign="top" width="7" height="1">
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1">
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr>
<td class="ct" valign="top" width="7" height="13"> <img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" colspan="3" height="13">Uso 
do banco</td><td class="ct" valign="top" height="13" width="7"> <img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="83" height="13">Carteira</td><td class="ct" valign="top" height="13" width="7"> 
<img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="43" height="13">Espécie</td><td class="ct" valign="top" height="13" width="7">
<img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="103" height="13">Quantidade</td><td class="ct" valign="top" height="13" width="7">
<img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="102" height="13">
Valor Documento</td><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">(=) 
Valor documento</td></tr><tr> <td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td valign="top" class="cp" height="12" colspan="3"><div align="left"> 
 </div></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="83"> 
<div align="left"> <span class="campo">
  SR</span></div></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="43"><div align="left"><span class="campo">
R$</span> 
 </div></td><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="103"><span class="campo">
  </span> 
 </td>
 <td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="102">
   <span class="campo">
      </span></td>
 <td class="cp" valign="top" width="7" height="12"> <img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12"> 
   <span class="campo">
   2952,95   </span></td>
</tr><tr><td valign="top" width="7" height="1"> <img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="75" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="31" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="31" border="0"></td><td valign="top" width="7" height="1"> 
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="83" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="83" border="0"></td><td valign="top" width="7" height="1"> 
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="43" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="43" border="0"></td><td valign="top" width="7" height="1">
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="103" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="103" border="0"></td><td valign="top" width="7" height="1">
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="102" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="102" border="0"></td><td valign="top" width="7" height="1">
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody> 
</table><table cellspacing="0" cellpadding="0" width="666" border="0"><tbody><tr><td align="right" width="10"><table cellspacing="0" cellpadding="0" border="0" align="left"><tbody> 
<tr> <td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td></tr><tr> 
<td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td></tr><tr> 
<td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="1" border="0"></td></tr></tbody></table></td><td valign="top" width="468" rowspan="5"><font class="ct">Instruções 
(Texto de responsabilidade do cedente)</font><br><br><span class="cp"> <font class="campo">
- Sr. Caixa, cobrar multa de 2% após o vencimento<br>
- Receber até 10 dias após o vencimento<br>
- Em caso de dúvidas entre em contato conosco: xxxx@xxxx.com.br<br>
&nbsp; Emitido pelo sistema Projeto BoletoPhp - www.boletophp.com.br</font><br><br> 
</span></td>
<td align="right" width="188"><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">(-) 
Desconto / Abatimentos</td></tr><tr> <td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12"></td></tr><tr> 
<td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody></table></td></tr><tr><td align="right" width="10"> 
<table cellspacing="0" cellpadding="0" border="0" align="left"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td></tr><tr><td valign="top" width="7" height="1"> 
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="1" border="0"></td></tr></tbody></table></td><td align="right" width="188"><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">(-) 
Outras deduções</td></tr><tr><td class="cp" valign="top" width="7" height="12"> <img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12"></td></tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody></table></td></tr><tr><td align="right" width="10"> 
<table cellspacing="0" cellpadding="0" border="0" align="left"><tbody><tr><td class="ct" valign="top" width="7" height="13"> 
<img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td></tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="1" border="0"></td></tr></tbody></table></td><td align="right" width="188"> 
<table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">(+) 
Mora / Multa</td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12"></td></tr><tr> 
<td valign="top" width="7" height="1"> <img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1"> 
<img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody></table></td></tr><tr><td align="right" width="10"><table cellspacing="0" cellpadding="0" border="0" align="left"><tbody><tr> 
<td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td></tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="1" border="0"></td></tr></tbody></table></td><td align="right" width="188"> 
<table cellspacing="0" cellpadding="0" border="0"><tbody><tr> <td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">(+) 
Outros acréscimos</td></tr><tr> <td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12"></td></tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody></table></td></tr><tr><td align="right" width="10"><table cellspacing="0" cellpadding="0" border="0" align="left"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td></tr></tbody></table></td><td align="right" width="188"><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">(=) 
Valor cobrado</td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" align="right" width="180" height="12"></td></tr></tbody> 
</table></td></tr></tbody></table><table cellspacing="0" cellpadding="0" width="666" border="0"><tbody><tr><td valign="top" width="666" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="666" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="659" height="13">Sacado</td></tr><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="659" height="12"><span class="campo">
Nome do seu Cliente</span> 
</td>
</tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="cp" valign="top" width="7" height="12"><img height="12" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="659" height="12"><span class="campo">
Endereço do seu Cliente</span> 
</td>
</tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="cp" valign="top" width="472" height="13"> 
  <span class="campo">
  Cidade - Estado -  CEP: 00000-000  </span></td>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="http://boletophp.com.br/boletophp/imagens/1.png" width="1" border="0"></td><td class="ct" valign="top" width="180" height="13">Cód. 
baixa</td></tr><tr><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="472" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="472" border="0"></td><td valign="top" width="7" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="7" border="0"></td><td valign="top" width="180" height="1"><img height="1" src="http://boletophp.com.br/boletophp/imagens/2.png" width="180" border="0"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0" width="666"><tbody><tr><td class="ct" width="7" height="12"></td><td class="ct" width="409">Sacador/Avalista</td><td class="ct" width="250"><div align="right">Autenticação 
mecânica - <b class="cp">Ficha de Compensação</b></div></td></tr><tr><td class="ct" colspan="3"></td></tr></tbody></table><table cellspacing="0" cellpadding="0" width="666" border="0"><tbody><tr><td valign="bottom" align="left" height="50"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="3" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/b.png" width="1" height="50" border="0"><img src="http://boletophp.com.br/boletophp/imagens/p.png" width="1" height="50" border="0"> 
   
 </td>
</tr></tbody></table><table cellspacing="0" cellpadding="0" width="666" border="0"><tbody><tr><td class="ct" width="666"></td></tr></tbody><tbody><tr><td class="ct" width="666"><div align="right">Corte 
na linha pontilhada</div></td></tr><tr><td class="ct" width="666"><img height="1" src="http://boletophp.com.br/boletophp/imagens/6.png" width="665" border="0"></td></tr></tbody></table>
