{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Olá, {{ pessoa.nome }}</h1>

<table class="table table-bordered table-striped table-hover table-condensed">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ cinefilo.id }}</td>
    </tr>
    <tr>
      <th>Nome</th>
      <td>{{ pessoa.nome }}</td>
    </tr>
    <tr>
      <th>CPF</th>
      <td>{{ cinefilo.cpf }}</td>
    </tr>
    <tr>
      <th>Documento</th>
      <td>{{ pessoa.documento }}</td>
    </tr>
    <tr>
      <th>Usuário</th>
      <td>{{ cinefilo.pessoa.usuario.username }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ cinefilo.pessoa.usuario.email }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}