{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Consultar Cinéfilos</h1>

<table class="table table-condensed table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Sit.</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  {% for entity in entities %}
      <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.pessoa.nome }}</td>
        <td>{{ entity.cpf }}</td>
        <td>{% for movimentacao in entity.movimentacoes %}{% if loop.last %} {{ movimentacao.tipo }} {% endif %}{% else %}Pen.{% endfor %}</td>
        <td>
          <div class="btn-toolbar">
            <div class="btn-group">
              <a class="btn" href="{{ path('cinefilo_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>
              <a class="btn" href="{{ path('cinefilo_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a>
              <a class="btn btn-success" href="{{ path('cinefilo_aprovar', { 'id': entity.id }) }}"><i class="icon-ok"></i></a>
              <a class="btn btn-danger" href="{{ path('cinefilo_nao_aprovar', { 'id': entity.id }) }}"><i class="icon-remove"></i></a>
            </div>
          </div>        
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>

  <div class="form-actions">
    <a href="{{ path('cinefilo_new') }}" class="btn btn-primary">Incluir</a>
  </div>
{% endblock %}
