{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Visualizar Cinefilo</h1>

<table class="table table-bordered table-striped table-hover table-condensed">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ entity.id }}</td>
    </tr>
    <tr>
      <th>Nome</th>
      <td>{{ entity.pessoa.nome }}</td>
    </tr>
    <tr>
      <th>CPF</th>
      <td>{{ entity.cpf }}</td>
    </tr>
    <tr>
      <th>Documento</th>
      <td>{{ entity.pessoa.documento }}</td>
    </tr>
    <tr>
      <th>Usuário</th>
      <td>{{ entity.pessoa.usuario.username }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ entity.pessoa.usuario.email }}</td>
    </tr>
  </tbody>
</table>


<form action="{{ path('cinefilo_delete', { 'id': entity.id }) }}" method="post">
  <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
  <div class="form-actions">
    <a href="{{ path('cinefilo') }}" class="btn">Voltar</a>
    <button type="submit" class="btn btn-danger">Excluir</button>
  </div>
</form>
{% endblock %}
