{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Oferta</h1>

<table class="record_properties">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ entity.id }}</td>
    </tr>
    <tr>
      <th>Título</th>
      <td>{{ entity.titulo }}</td>
    </tr>
    <tr>
      <th>Descrição</th>
      <td>{{ entity.descricao }}</td>
    </tr>
    <tr>
      <th>Regras</th>
      <td>{{ entity.regra }}</td>
    </tr>
    <tr>
      <th>Data início</th>
      <td>{{ entity.dataInicio|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <th>Data término</th>
      <td>{{ entity.dataTermino|date('Y-m-d H:i:s') }}</td>
    </tr>
  </tbody>
</table>
<div class="form-actions">
  <a href="#" class="btn">Emitir Voucher</a>
  <a href="{{ path('oferta_web') }}" class="btn">Voltar</a>
</div>
{% endblock %}
