{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Consultar Ofertas</h1>

<table class="table table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Cinema</th>
      <th>Titulo</th>
      <th>Dt. Início</th>
      <th>Dt. Término</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
{% for entity in entities %}
    <tr>
      <td>{{ entity.id }}</td>
      <td>{{ entity.cinema.nomeFantasia }}</td>
      <td>{{ entity.titulo }}</td>
      <td>{% if entity.dataInicio %}{{ entity.dataInicio|date('d/m/Y H:i:s') }}{% endif %}</td>
      <td>{% if entity.dataTermino %}{{ entity.dataTermino|date('d/m/Y H:i:s') }}{% endif %}</td>
      <td>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn" href="{{ path('oferta_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>
            <a class="btn" href="{{ path('oferta_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a>
          </div>
        </div>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

<div class="form-actions">
  <a href="{{ path('oferta_new') }}" class="btn btn-primary">Incluir</a>
</div>
{% endblock %}