{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}
{% block container %}
<div id="content">
  <ul>
  {% for oferta in ofertas %}
    <li><strong>{{ oferta.titulo }}</strong><span>Cinema: <i>{{ oferta.cinema.pessoa.nome }}</i></span><a href="{{ path( 'oferta_web_exibir', { 'id' : oferta.id } ) }}" class="btn">Ver oferta</a></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
