{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Incluir Oferta</h1>

<form action="{{ path('oferta_create') }}" method="post" {{ form_enctype(form) }}>
  {{ form_widget(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Confirmar</button>
    <a href="{{ path('oferta') }}" class="btn">Voltar</a>
  </div>
</form>
{% endblock %}