{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block container %}
<h1>Oferta</h1>

<table class="table table-bordered table-striped table-hover table-condensed">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ entity.id }}</td>
    </tr>
    <tr>
      <th>Título</th>
      <td>{{ entity.titulo }}</td>
    </tr>
    <tr>
      <th>Descrição</th>
      <td>{{ entity.descricao }}</td>
    </tr>
    <tr>
      <th>Regras</th>
      <td>{{ entity.regra }}</td>
    </tr>
    <tr>
      <th>Data início</th>
      <td>{{ entity.dataInicio|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <th>Data término</th>
      <td>{{ entity.dataTermino|date('Y-m-d H:i:s') }}</td>
    </tr>
  </tbody>
</table>

<form action="{{ path('oferta_delete', { 'id': entity.id }) }}" method="post">
  <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
  <div class="form-actions">
    <a href="{{ path('oferta') }}" class="btn">Voltar</a>
    <button type="submit" class="btn btn-danger">Excluir</button>
  </div>
</form>
{% endblock %}
