<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}MyCine Mania{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ asset('bundles/univalimycinemania/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/univalimycinemania/css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/univalimycinemania/css/main.css') }}">
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('bundles/univalimycinemania/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
</head>
<body>
{% block body %}
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

{% block navbar %}
  {% include 'UnivaliMyCineManiaBundle::navbar.html.twig' %}
{% endblock navbar %}

<div class="container" style="padding-top: 60px">
  {% block container %}
  {% endblock container %}
  {% block footer %}
    <footer>
        <p class="pull-right"><a href="#">Topo</a></p>
        <p>&copy; 2013 MyCineMania &middot;</p>
    </footer>
  {% endblock footer %}
</div>

<script src="{{ asset('bundles/univalimycinemania/js/vendor/jquery-1.9.1.min.js') }}"></script>
<script>window.jQuery || document.write('<script src="{{ asset('bundles/univalimycinemania/js/vendor/jquery-1.9.1.min.js') }}"><\/script>')</script>
<script src="{{ asset('bundles/univalimycinemania/js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/univalimycinemania/js/plugins.js') }}"></script>
<script src="{{ asset('bundles/univalimycinemania/js/highlight.pack.js') }}"></script>
<script src="{{ asset('bundles/univalimycinemania/js/filtrify.min.js') }}"></script>
<script src="{{ asset('bundles/univalimycinemania/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
{% endblock body %}
</body>
</html>