{% extends "UnivaliMyCineManiaBundle::base.html.twig" %}

{% block navbar %}
  {{ parent() }}

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
  {% for oferta in ofertasDestaque %}
    <div class="item{% if( loop.first ) %} active{% endif %}">
      <img src="http://web.static.nowtv.com/promo/groupon/groupon_hero_image.jpg" alt="{{ oferta.titulo }}">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ oferta.titulo }}</h1>
          <p class="lead">{{ oferta.descricao }}</p>
          <a class="btn btn-large btn-primary" href="{{ path('oferta_web_exibir', { 'id' : oferta.id }) }}">ver detalhes da oferta</a>
        </div>
      </div>
    </div>
  {% endfor %}    
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
{% endblock navbar %}

{% block container %}
<div class="row">
  <h2 class="section-header">Destaques</h2>
  {% for oferta in ofertasSubdestaque %}
  <div class="span4">
    <img src="img/1.png" alt="">
    <h2>{{ oferta.titulo }}</h2>
    <p>{{ oferta.descricao }}</p>
    <p><a class="btn" href="{{ path( 'oferta_web_exibir', { 'id' : oferta.id } ) }}">Visualizar &raquo;</a></p>
  </div>
  {% endfor %}
</div>

<hr>

<h2>Veja outras ofertas</h2>
<p>Escolha a categoria de ofertas que lhe interessam</p>

<hr>

<div>
  <ul>
  {% for oferta in ofertas %}
    <li data-cinema="{{ oferta.cinema.pessoa.nome }}"><strong>{{ oferta.titulo }}</strong><span>Cinema: <i>{{ oferta.cinema.pessoa.nome }}</i></span></li>
  {% endfor %}
  </ul>
</div>
{% endblock container %}