<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="{{ path('homepage') }}">MyCine Mania</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="{{ path('registrar_cinefilo_new') }}">Cinéfilo</a></li>
            <li><a href="{{ path('registrar_cinema_new') }}">Cinema</a></li>
          </ul>
          <ul class="nav pull-right">
{% if ( not is_granted('ROLE_USER') ) %}
              <li><a href="{{ path('fos_user_security_login') }}">Clique para Entrar</a></li>
{% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if app.user %} {{ app.user.username }} {% endif %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
  {% if not is_granted('ROLE_SUPER_ADMIN') %}

    {% if is_granted('ROLE_CINEFILO') %}
                <li><a href="{{ path('cinefilo_web') }}">Meu Cadastro</a></li>
    {% elseif is_granted('ROLE_CINEMA') and not is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="{{ path('cinema_web') }}">Meu Cadastro</a></li>
    {% endif %}
                
    {% if is_granted('ROLE_CINEFILO') %}
                <li class="divider"></li>
                <li class="nav-header">Cinéfilo</li>
                <li><a href="{{ path('oferta_web') }}">Ofertas</a></li>
                <li><a href="{{ path('cinefilo_boleto') }}" target="_blank">Emitir Boleto</a></li>
    {% endif %}
  
    {% if is_granted('ROLE_CINEMA') %}
                <li class="divider"></li>
                <li class="nav-header">Cinema</li>
                <li><a href="{{ path('oferta') }}">Ofertas</a></li>
                <li><a href="{{ path('voucher_validar') }}">Validar Voucher</a></li>
    {% endif %}

  {% endif %}
                
  {% if( is_granted('ROLE_SUPER_ADMIN') ) %}
                <li class="nav-header">Adm. do Portal</li>
                <li><a href="{{ path('cinefilo') }}">Adm. Cinéfilos</a></li>
                <li><a href="{{ path('cinema') }}">Adm. Cinemas</a></li>
                <li><a href="{{ path('oferta') }}">Adm. Ofertas</a></li>
                <li><a href="{{ path('voucher') }}">Adm. Vouchers</a></li>
  {% endif %}
                <li class="divider"></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Desconectar</a></li>
              </ul>
            </li>
{% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>